* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    background: #222831;
    color: #ffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #31363F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}

.logo:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #31363F;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
} 

.navbar a {
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover, .navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url('foto/gambar1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffff;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.wrapper {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #888;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    color: #888;
}

.remember-forgot a {
    color: #007bff;
    text-decoration: none;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}
